#splashDate {margin-bottom:25px; font-size:2em; color:#aaa;}
.splashResultBox {
  width:280px;
  display:inline-block;
  height:170px;
  background:#eee;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  border-radius:12px;
  -moz-box-shadow:0 3px 0 #ccc, 0 3px 15px #f4f4f4;
  -webkit-box-shadow:0 3px 0 #ccc, 0 3px 15px #f4f4f4;
  box-shadow:0 3px 0 #ccc, 0 3px 15px #f4f4f4;
  margin-bottom:3px;
  position:relative;
  .splashDesc {
    position:absolute;
    width:100%;
    left:0; top:20px;
    font-size:1.3em;
  }
  .splashResult {
    color:#00b4db;
    font-weight:300;
    font-size:2.8em;
    text-shadow:0 2px 4px #bbbbbb;
    padding:0 20px;
    width:240px;
    height:100%;
    line-height:170px;
    .splashUnit {
      font-size:0.6em;
      color:#aaa;
    }
  }
}
#workoutWeight {
  float:left;
}
#workoutTime {
  float:right;
}

#calorieBox {
  width:100%;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  font-size:1.4em;
  padding:20px 0;
  margin:40px 0;
  #calorieTitle {margin-bottom:20px;}
  #calorieCount {color:#FC0; font-size:3em;}
  #calorieUnits {font-size:0.5em;}
}