 <div id="userContainer"> 
  <div id="userHeader">
    <h1><%= @user.name.titleize %></h1>
  </div>
  <div id="userContent">
    <div id="userActivity">
      <h2>- Recent Activity -</h2>
      <div id="activityList"></div>
    </div>
  </div>
</div>