<style>
#logoWrapper {margin-top:20px;}
h1 {
  font-weight:300;
  padding:20px 0;
  border-bottom:1px solid #ccc;
  border-top:1px solid #ccc;
  color:#ccc;
}
p {text-align:left; display:inline-block; font-size:0.83em; max-width:625px;}
b {font-weight:700;}
</style>
<div id="logoWrapper">
  <span id="logo">
    <span id="logoLeftSect">My</span><span id="logoMiddleSect">Cardio</span><span id="logoRightSect">Pal</span>
  </span>
</div>
<h1>Under Development</h1>
<p><b>What is MyCardioPal?</b><br/>
  MyCardioPal will be free-to-use cardiovascular workout tracking system. Easily record your workouts and keep track of your burned calories while also monitoring your heart rate.
</p>
