/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./all
 */
body, html {
  padding:0;
  margin:0;
  height:100%;
}
a {outline:0; border:0; text-decoration:none;}
#container {
  margin:auto;
  width:960px;
  min-height:100%;
  position:relative;
  font-weight:100;
  font-family: 'Oxygen', sans-serif, arial;
}
#header {
  padding-top:20px;
  position:relative;
  width:100%;
  height:62px;
}
#mainNav {
  position:absolute;
  right:0;
  top:20px;
  width:650px;
  height:46px;
  background:#ddd;
  box-shadow:0 1.5px 0 #bbb;
  border-radius:10px;
}
#rightNav {
  float:right;
  padding:0;
  margin:0;
}
#rightNav li {
  display:inline-block;
  height:46px;
  line-height:46px;
  font-size:0.8em;
  font-weight:700;
  text-shadow:0 -1.5px 0 #bbb;
  text-align:center;
  color:#fff;
}
#rightNav li a {
  text-align:center;
  color:#fff;
  display:inline-block;
  padding:0 20px;
  display:inline-block;
}
#rightNav li a#signUpLink {
  background:#5fc85f;
  text-shadow:0 -1px 0 #3e9a3e;
  border-bottom:1.5px solid #5cb55c;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  box-shadow:0 0 10px #4db84d inset;
}
#rightNav li a#signUpLink:hover {background:#70d770;}
#rightNav li a#signUpLink:active {
  position:relative;
  top:1px;
  border-bottom:0.5px solid #5cb55c;
}
#logoWrapper {
  width:270px;
  height:62px;
}
#body {
  padding-bottom:80px;
}
#footer {
  width:100%;
  height:80px;
  position:absolute;
  bottom:0;
  left:0;
}