/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font.css.scss
 *= require_self
 *= require_tree ./all
 */
body, html {
  padding:0;
  margin:0;
  height:100%;
}
a {outline:0; border:0; text-decoration:none;}
img {border:0;}
#container {
  margin:auto;
  width:960px;
  min-height:100%;
  position:relative;
  font-weight:300;
  font-family: 'Oxygen', sans-serif, arial;
  color:#222;
}
#header {
  padding-top:20px;
  position:relative;
  width:100%;
  height:62px;
}
#mainNav {
  position:absolute;
  right:0;
  top:20px;
  width:670px;
  height:42px;
  background:none;
  border-bottom:1px dashed #222;
}
#rightNav {
  float:right;
  padding:0;
  margin:0;
}
#rightNav li {
  display:inline-block;
  height:35px;
  line-height:35px;
  font-size:0.8em;
  font-weight:700;
  text-align:center;
  margin-left:5px;
}
#rightNav li a {
  text-align:center;
  color:#fff;
  display:inline-block;
  padding:0 20px;
  display:inline-block;
  font-weight:700;
  font-size:1.1em;
  background:#ccc;
  text-shadow:0 -1.5px 0 #aaa;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  -moz-box-shadow:0 2px 0 #aaa, 0 0 10px #bbb inset, 0 2px 5px #d5d5d5;
  -webkit-box-shadow:0 2px 0 #aaa, 0 0 10px #bbb inset, 0 2px 5px #d5d5d5;
  box-shadow:0 2px 0 #aaa, 0 0 10px #bbb inset, 0 2px 5px #d5d5d5;
}
#rightNav li a:hover {
  background:#ddd;
  -moz-box-shadow:0 2px 0 #aaa, 0 0 10px #cbcbcb inset, 0 2px 5px #d5d5d5;
  -webkit-box-shadow:0 2px 0 #aaa, 0 0 10px #cbcbcb inset, 0 2px 5px #d5d5d5;
  box-shadow:0 2px 0 #aaa, 0 0 10px #cbcbcb inset, 0 2px 5px #d5d5d5;
}
#rightNav li a:active {
  position:relative;
  top:1px;
  -moz-box-shadow:0 1px 0 #aaa, 0 0 10px #cbcbcb inset, 0 2px 5px #d5d5d5;
  -webkit-box-shadow:0 1px 0 #aaa, 0 0 10px #cbcbcb inset, 0 2px 5px #d5d5d5;
  box-shadow:0 1px 0 #aaa, 0 0 10px #cbcbcb inset, 0 2px 5px #d5d5d5;
}
#rightNav li a#signUpLink {
  background:#0000d4;
  text-shadow:0 -1.5px 0 #000053;
  -moz-box-shadow:0 2px 0 #000053, 0 0 10px #00009d inset, 0 2px 5px #d5d5d5;
  -webkit-box-shadow:0 2px 0 #000053, 0 0 10px #00009d inset, 0 2px 5px #d5d5d5;
  box-shadow:0 2px 0 #000053, 0 0 10px #00009d inset, 0 2px 5px #d5d5d5;
}
#rightNav li a#signUpLink:hover {
  background:#0000f1;
  -moz-box-shadow:0 2px 0 #000053, 0 0 10px #0000ab inset, 0 2px 5px #d5d5d5;
  -webkit-box-shadow:0 2px 0 #000053, 0 0 10px #0000ab inset, 0 2px 5px #d5d5d5;
  box-shadow:0 2px 0 #000053, 0 0 10px #0000ab inset, 0 2px 5px #d5d5d5;
}
#rightNav li a#signUpLink:active {
  -moz-box-shadow:0 1px 0 #000053, 0 0 10px #0000ab inset, 0 2px 5px #d5d5d5;
  -webkit-box-shadow:0 1px 0 #000053, 0 0 10px #0000ab inset, 0 2px 5px #d5d5d5;
  box-shadow:0 1px 0 #000053, 0 0 10px #0000ab inset, 0 2px 5px #d5d5d5;
}
#logoWrapper {display:inline-block;}
#logo {font-size:2.9em;}
#logoRightSect, #logoLeftSect, #logoMiddleSect {letter-spacing:-1px; font-weight:300;}
#logoRightSect {color:#00b4db;}
#body {padding-bottom:80px;}
#footer {
  width:100%;
  height:80px;
  position:absolute;
  bottom:0;
  left:0;
}