/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font
 *= require jquery.ui.datepicker
 *= require chosen
 *= require chosen_custom
 *= require_self
 *= require_tree ./all
 */
body, html {
  padding:0;
  margin:0;
  height:100%;
}
a {outline:0; border:0; text-decoration:none; color:#00b4db;}
a:hover {color:#00ccf8;}
img {border:0;}
#container {
  margin:auto;
  width:960px;
  min-height:100%;
  position:relative;
  font-weight:300;
  font-family: 'Oxygen', sans-serif, arial;
  color:#222;
  text-align:center;
}
#header {
  padding-top:20px;
  position:relative;
  width:100%;
  height:62px;
  text-align:left;
}
#mainNav {
  position:absolute;
  right:0;
  top:20px;
  width:700px;
  height:46px;
  background:none;
  padding:5px 0 0 0;
}
#rightNav {
  float:right;
  padding:0;
  margin:0;
}
#rightNav li {
  display:inline-block;
  height:38px;
  line-height:38px;
  font-size:0.8em;
  font-weight:700;
  text-align:center;
  margin-left:5px;
}
#rightNav li a {
  text-align:center;
  color:#fff;
  display:inline-block;
  padding:0 20px;
  display:inline-block;
  font-weight:700;
  font-size:1.1em;
  background:#ccc;
  text-shadow:0 -1.5px 0 #aaa;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  -moz-box-shadow:0 2px 0 #aaa, 0 0 10px #bbb inset, 0 2px 5px #d5d5d5;
  -webkit-box-shadow:0 2px 0 #aaa, 0 0 10px #bbb inset, 0 2px 5px #d5d5d5;
  box-shadow:0 2px 0 #aaa, 0 0 10px #bbb inset, 0 2px 5px #d5d5d5;
}
#rightNav li a:hover {
  background:#ddd;
  -moz-box-shadow:0 2px 0 #aaa, 0 0 10px #cbcbcb inset, 0 2px 5px #d5d5d5;
  -webkit-box-shadow:0 2px 0 #aaa, 0 0 10px #cbcbcb inset, 0 2px 5px #d5d5d5;
  box-shadow:0 2px 0 #aaa, 0 0 10px #cbcbcb inset, 0 2px 5px #d5d5d5;
}
#rightNav li a:active {
  position:relative;
  top:1px;
  -moz-box-shadow:0 1px 0 #aaa, 0 0 10px #cbcbcb inset, 0 2px 5px #d5d5d5;
  -webkit-box-shadow:0 1px 0 #aaa, 0 0 10px #cbcbcb inset, 0 2px 5px #d5d5d5;
  box-shadow:0 1px 0 #aaa, 0 0 10px #cbcbcb inset, 0 2px 5px #d5d5d5;
}
#rightNav li a#signUpLink {
  background:#00b4db;
  text-shadow:0 -1.5px 0 #007088;
  -moz-box-shadow:0 2px 0 #007088, 0 0 10px #008fae inset, 0 2px 5px #d5d5d5;
  -webkit-box-shadow:0 2px 0 #007088, 0 0 10px #008fae inset, 0 2px 5px #d5d5d5;
  box-shadow:0 2px 0 #007088, 0 0 10px #008fae inset, 0 2px 5px #d5d5d5;
}
#rightNav li a#signUpLink:hover {
  background:#00c5ef;
  -moz-box-shadow:0 2px 0 #007088, 0 0 10px #008fae inset, 0 2px 5px #d5d5d5;
  -webkit-box-shadow:0 2px 0 #007088, 0 0 10px #008fae inset, 0 2px 5px #d5d5d5;
  box-shadow:0 2px 0 #007088, 0 0 10px #008fae inset, 0 2px 5px #d5d5d5;
}
#rightNav li a#signUpLink:active {
  -moz-box-shadow:0 1px 0 #007088, 0 0 10px #008fae inset, 0 2px 5px #d5d5d5;
  -webkit-box-shadow:0 1px 0 #007088, 0 0 10px #008fae inset, 0 2px 5px #d5d5d5;
  box-shadow:0 1px 0 #007088, 0 0 10px #008fae inset, 0 2px 5px #d5d5d5;
}
#logoWrapper {display:inline-block;}
#logo {font-size:2.9em; display:inline-block; color:#222; text-shadow:0 2px 3px #bbb; height:58px; line-height:50px; vertical-align: text-top;}
#logoRightSect, #logoLeftSect, #logoMiddleSect {letter-spacing:-1px; font-weight:300;}
#logoRightSect {color:#00b4db;}
#logo:hover #logoLeftSect, #logo:hover #logoMiddleSect {color:#444;}
#logo:hover #logoRightSect {color:#00c5ef;}
#body {padding-bottom:80px; text-align:center;}
#footer {
  width:100%;
  height:80px;
  position:absolute;
  bottom:0;
  left:0;
}
.notice, .alert {
  background:#c7ffc6;
  border:1px solid #68c366;
  padding:10px 20px;
  border-radius:6px;
  font-weight:300;
  margin-top:8px;
  display:inline-block;
  min-width:200px;
  font-size:0.85em;
  color:#222;
}
.alert {
  background:#ffc6c6;
  border-color:#e37e7e;
}
.divider {
  height:1px;
  border:0;
  border-bottom:1px solid #ccc;
  margin:0;
}
.pageHeader {
  margin: 0 0 20px;
  font-size:30px;
  font-weight:700;
  background: #00b4db;
  padding:15px 0;
  color:#fff;
  width:100%;
  text-shadow:0 -1.5px 0 #007088;
  -moz-box-shadow:0 0 8px #ccc;
  -webkit-box-shadow:0 0 8px #ccc;
  box-shadow:0 0 8px #ccc;
  text-align:center;
}
.adminAddLink {text-align:right; display:block; font-size:14px; height:18px; line-height:18px; margin-bottom:4px;}
.adminAddLink img {line-height:18px;}
.clear {clear:both;}
