@font-face {
  font-family: 'OxygenLight';
  font-style: normal;
  font-weight: 300;
  src: font-url('Oxygen-Light.eot');
  src: font-url('Oxygen-Light.eot?#iefix') format('embedded-opentype'),
       font-url('Oxygen-Light.woff') format('woff'),
       font-url('Oxygen-Light.ttf')  format('truetype');
}
@font-face {
  font-family: 'OxygenBold';
  font-style: normal;
  font-weight: 700;
  src: font-url('Oxygen-Bold.eot');
  src: font-url('Oxygen-Bold.eot?#iefix') format('embedded-opentype'),
       font-url('Oxygen-Bold.woff') format('woff'),
       font-url('Oxygen-Bold.ttf')  format('truetype');
}
#logoLeftSect, #logoMiddleSect, #logoRightSect {font-family: 'OxygenLight', sans-serif, arial !important;}
.form .formSubmit input[type='submit'] {font-family:'OxygenBold';}